
*{
    margin: auto;
    padding: 0;
    font-size: 20px;
    
}
body{
    background-image: url("bg.avif");
    background-repeat: no-repeat;
    background-size: cover;
}
.calc {
    margin-left: auto;
    margin-top: 40px;
    width: 380px;
    height: 500px;
    background-color: rgba(35, 36, 31, 1.0);
    border-radius: 15px;
    box-shadow: 10px 10px 5px;
    transition: all 500ms ease;

}

.buttons {
    padding: 20px;
}
#screen{
    /* width: 100%; */
    margin-top: 20px;
    margin-left: 40px;
    width: 80%;
    height: 70px;
    pointer-events: none;
    background-color: rgb(103, 39, 39);
    color: white;
    font-size: 35px;
}

.buttons{
    margin-top: 20px;
    margin-left: 40px;
    
}

.btn {
margin: 5px;
    height: 60px;
    width: 60px;
    background-color: blueviolet;
}
.btn:hover {
    background-color: darkgoldenrod;
    transform: scale(1.2);
}